[2015-07-24 15:22] tap opened #1 "ValueBase: needs compile-time checks / assertions that inheriting classes are the same size as the base"

[2015-07-24 15:23] tap opened #2 "Value: needs copy and move constructors"

[2015-07-24 15:36] tap opened #3 "Denormals: review our handling and implementation both globally and in each class"

[2015-07-24 15:40] tap opened #4 "Unit Testing: Implement / Integrate initial structure and tests"

[2015-07-24 15:42] tap opened #5 "Wavetable Oscillator object"
and maybe grain playback

[2015-07-24 15:42] tap commented on #5
with @nwolek

[2015-07-24 15:45] tap opened #6 "Example Max Wrapper: dynamic wrapping / reflection"

[2015-07-24 15:46] tap opened #7 "LFO: Brainstorm and Explore options for attaching LFOs to Parameters"

[2015-07-24 15:47] tap opened #8 "SampleBundleGroup operator classes"
for the audio graph we will need something that can function as a sink, and splitters, combiners, etc.

[2015-07-24 15:51] tap commented on #7
For example, instead of

`filter.freq = 500;`

We could have:

`LFO lfo("sine", 0.5hz);`
`filter.freq = lfo;`

[2015-07-24 15:52] tap commented on #7
Relates to discussion of gverb implementation brainstorm with @nwolek

[2015-07-24 15:55] tap opened #9 "Next Unit Generators to create for experimentation"
- TTLimiter -- uses another unit internally, more complex processing function
- TTMixer -- different number of ins and outs
- Maybe TTOperator? (real goal is testing Ring Modulation)
- some sort of analyzer that translates from the audio domain into the control domain (e.g. snapshot~) -- queuing data across threads

[2015-07-24 16:55] tap opened #10 "Parameter Transactions and Queueing"
In the SpatLib, for example, there are many changes to set up a Scene Description.  In Jamoma1 every one of these many changes triggers a complete recalculation of the matrix coefficients.

A couple of possibilities to explore:
- All parameter changes are pushed to the queue, the queue is serviced at the start of the audio processing block, after the queue is serviced the matrix is recalculated.

[2015-07-25 16:56] tap opened #11 "Notification / Registration mechanism for Parameters needs to be generalized"
Currently the channelCount and AdaptingSampleBundle mechanism works, but it is inflexible and we have a number of other places where we need something similar.

The Object class could have a mechanism where you register a std::function and a parameter pair or something and then it would attach?

[2015-07-25 17:37] tap opened #12 "LowpassFourPole algorithm needs review"
The following are concerns:
- The resonance provided by adjusting Q does not seem proportional to the values.
- Especially with non-low values of Q, the filter is incredibly unstable when changing the cutoff freq
- This code was written a long long time ago before I knew what I was doing, and has been copy/pasted ever since

[2015-07-27 14:22] lossius opened #13 "How do we organise header files as the number of files increase?"
Currently all files are in the same folder. As we add more stuff (Foundation, DSP units, AudioGraph, nodestuff, etc.) this will become a mayhem. How do we manage to tidy this up? Two possible solutions that I can think of:
- Organising files in subfolders in a somewhat similar fashion to Jamoma1 Core
- Longer and more detailed names for files. Personally I'm saceptic to this one, the name of files

[2015-07-27 14:32] nwolek opened #14 "add Doxygen headers to the initial 12 files"
Effected files: Jamoma, AudioObject, CircularStorage, Object, Sample, Symbol, Value, DCblock, Gain, LowpassFourPole, Noise, Overdrive

[2015-07-27 15:13] tap commented on #13
I'm going to invoke Agile at this point and call YAGNI on fragmenting into folders. My opinion is that we should stick with as flat a file organization as possible, and not convolute the names. The current folder hierarchy of Jamoma1 is confusing and cumbersome.

For structuring, I think it makes more sense to let the IDE do that if we want a different structure.  It is likely that the project at

[2015-07-27 15:55] nwolek opened #15 "Symbol: stub class needs to be fleshed out"
Looks like @tap wrote minimal code here to get something working. Needs more code before we have a working class here.

[2015-07-27 16:17] tap commented on #15
Yes. I put some work into porting the Symbol over from Jamoma1 since it is one area of Jamoma1.
In reflecting though I think maybe a different implementation might be wise.

Some random thoughts I've had:

### A Symbol is a string and an identifier

In Jamoma1 we also have a 2nd identifier for the table that owns it.
We probably want to keep this in case we have multiple pieces of code (like 2 plu

[2015-07-27 17:13] nwolek opened #16 "Overdrive: stub class needs to be fleshed out"
Looks like @tap was copying code over from old codebase, but then commented out all of it.

[2015-07-27 17:57] tap commented on #16
We have since discussed next steps in the roadmap, and this class is not part of that.  So we could continue with the porting of it, or we could just delete it for now until we are later ready to bring it in.

[2015-07-27 18:14] bltzr commented on #15
So, finally jamoma2 is a marxist project ;-)

[2015-07-27 18:19] nwolek commented on #14
done

[2015-07-27 18:19] #14 closed, assigned to nwolek

[2015-07-27 18:24] nwolek commented on #13
I agree with staying flat for the time being. The simplicity of the include call is a good argument for this being good enough. Also, if we commit to getting Doxygen comments right from the start of this project, inheritance and organization can be explained there.

[2015-07-27 18:29] nwolek commented on #16
I agree with your assessment. I am deleting it then. We can always revive later. Don't want to be distracted by stub classes and issues that are open for too long.

[2015-07-27 18:32] #16 closed, assigned to nobody

[2015-07-27 18:36] nwolek commented on #15
and started in the USA no less @bltzr ;)

[2015-07-27 18:39] bltzr commented on #15
amazing !!!

[2015-07-27 20:00] tap commented on #15
Marxism aside, I've done more reflecting on this issue of symbols and I wonder if the new architecture of Jamoma2 makes the need for a symbol table less relevant.

In what scenarios do we typically leverage the speed of the Symbol over the speed of a String?
- Sending a message, or attribute change, by name -- the receiving object has to compare the name sent in against a reference name.  With a s

[2015-07-27 20:31] tap opened #17 "Globals"
The concept of global variables conflicts with being a header-only environment.  This is because a global has to have an instance somewhere.  If the instance is in a header, and multiple .cpp files include the header, then it leads to conflicts due to multiply-defined symbols.

In an attempt to "have our cake and eat it too" we can add a header which is required to be included once (to define the

[2015-07-27 20:42] tap opened #18 "Design of Noise Generators"
The Jamoma1 noise generator has a switch to select between different types of noise.

In Jamoma2 do we want to continue this way?  Or do we rather want to have specific classes for each type of noise (without the switch)?  If go with separate classes do we want a wrapper class like we use with the filters?

I think the answer is that last option, but I propose it here for review before taking acti

[2015-07-27 20:51] nwolek commented on #18
I noticed this while writing documentation on the new JamomaNoise this morning. For now, we simply need the white noise but should consider this before more get implemented. I do think that the design pattern should be consistent between Filter and Noise.

[2015-07-27 20:53] lossius commented on #18
My voice also goes towards implementing them as two separate classes. I'm not sure if we need a filter-like wrapper for them, I'd consider this to be two among many kinds of sound generators that we might implement, and it's just as likely that you want to switch between noise, sine and other waveforms as between different kinds of noise.

As we all seem to agree, I consider this a conclusion, and

[2015-07-27 20:53] #18 closed, assigned to lossius

[2015-07-27 21:18] nwolek commented on #12
Original source of the algorithm appears to be here:
http://musicdsp.org/archive.php?classid=3#26

[2015-07-27 22:25] nwolek commented on #12
I built an impulse response using the following code in Processing:

<pre>
double in1 = 0;
double in2 = 0;
double in3 = 0;
double in4 = 0;
double out1 = 0;
double out2 = 0;
double out3 = 0;
double out4 = 0;
void setup() {
  for (int i = 0; i < 64; i++)
  {
     double x, y;

      if (i==0)
     {
        x = 1.0;
     } else {
        x = 0.0;
     }
     y = process(x, 0.5, 1.0);

     //println

[2015-07-27 22:42] nwolek opened #19 "Create unit impulse AudioObject"
https://en.wikipedia.org/wiki/Dirac_delta_function

Need this for testing filter responses. A lot of the necessary code is done as part of my testing the for issue #12. See the following section of code:

https://github.com/jamoma/jamoma2/blob/master/examples/simple.cpp#L93

[2015-07-28 02:31] tap commented on #19
Interesting!  I did not know about the Dirac Function in this context.

Let me know if you need to talk about this at any point.

[2015-07-28 02:33] tap commented on #12
It sounds plausible that the code came from there.  If we can confirm this the case we should document it as such.

If the IR is different then it must be either that we're doing something wrong or there is some floating-point round-off difference.  Would be nice to know a bit more about this...

[2015-07-28 16:09] jcelerier commented on #15
Some possibilites  :

1 - Go full-blown on compile-time metaprogramming with libraries like Boost.Hana, Boost.Fusion, Boost.MPL that allows to create lists / maps of type.

It is still possible to "extend" a vector of list this way : http://www.boost.org/doc/libs/1_41_0/libs/mpl/doc/refmanual/vector.html, so for instance, there could be a symbol table defined in JamomaCore, another in JamomaDSP /

[2015-07-28 17:23] tap commented on #15
Thanks @jcelerier !  I was looking for a way to do constexpr hashing this morning and getting a bit frustrated -- I should have read my emails first!

Also psyched about the option of using a static in an inline function.  I was not aware of how that was specified in the C++ standard.  For others who are curious, there is reference to the specific part of the C++ specification regarding this rule

[2015-07-28 20:53] tap opened #20 "Set up CI with Travis"

[2015-07-28 20:54] tap commented on #20
Perhaps set it up using GYP?

Regardless, I want to get the unit testing implemented prior to doing the continuous integration setup.

[2015-07-29 15:14] tap commented on #12
@nwolek To make things easier and give us a fuller set of tools for evaluating the correctness of this filter, I create a Max object to wrap it -- https://github.com/tap/TapTools/blob/master/source/tap.fourpole~/tap.fourpole~.cpp

To build:
- checkout TapTools (master branch)
- git submodule update --init
- find the tap.fourpole xcodeproj and build it

Maybe this will be helpful in this case.  If

[2015-07-29 16:21] tap commented on #12
@nwolek one additional note -- with the JUCE-based AU plug-in running in Live I can confirm the dramatic improvement in filter stability when changing cf and q.

[2015-07-29 16:54] tap commented on #13
With a question like this I'm unsure about the process for closing an open issue?  How do we know that this question has been adequately answered?

[2015-07-29 17:01] tap commented on #17
The following information from comments on #15 by jcelerier:

By using a static in an inline method. Guaranteed to be the same across all compilation units :

[code]

Here is a working example that features usage in two compilation units and modification of the map : http://s000.tinyupload.com/index.php?file_id=57808258444318625502

However I think that it will be shared between multiple shared ob

[2015-07-29 17:12] #15 closed, assigned to nobody

[2015-07-29 17:12] tap commented on #17
Also from my comments in #15

Also psyched about the option of using a static in an inline function. I was not aware of how that was specified in the C++ standard. For others who are curious, there is reference to the specific part of the C++ specification regarding this rule @ http://stackoverflow.com/questions/185624/static-variables-in-an-inlined-function

[2015-07-29 21:13] tap commented on #17
Potential areas where this may be used:
- registry of all known classes
- a symbol table if we ever create one
- environment info, e.g. sampleRate (though maybe this is more of a graph-specific thing)

[2015-07-29 21:17] tap commented on #6
A static wrap example in a Max object is now here: https://github.com/tap/TapTools/blob/d7c7d51015d09070e56bee6e699eb225da51591d/source/tap.fourpole~/tap.fourpole~.cpp

Still need to do a dynamic wrap.  A good test of that will be the Limiter class.

[2015-07-29 21:20] tap opened #21 "Implement Parameter Bounds"
The LowpassFourpole class is one place this is needed.

[2015-07-29 21:20] tap commented on #21
Will require figuring out the argument type-deduction handling for Parameter constructors, which we need to do anyway...

[2015-07-29 21:23] tap opened #22 "Implement Gain type with user-defined literals for db etc."
Not sure what to call this type since Gain is used already for a Ugen -- or maybe the Gain Ugen can be renamed something else like Scale or Fader or something?

[2015-07-29 21:24] tap commented on #22
Or the new type could be called GainValue, which might make more sense...

[2015-07-29 23:49] tap commented on #22
Bailing on this initiative.

The following code won't work because you can't pass a negative number into the literal code, e.g.

[code]

Instead it strips the negative sign.  What you can do is create a class then assign, then do the unary- operator overload, but by then we've already done the assignment the wrong way.

As an additional point of punishment it then makes accessing parameters of a G

[2015-07-29 23:49] #22 closed, assigned to nobody

[2015-07-30 14:01] tap opened #23 "Object / Parameter code cleanup and documentation"
This file has accumulated a bit of detritus and inconsistency due to the many experimental iterations.

[2015-07-30 14:06] tap commented on #21
- Still needs **wrap** and **fold** specializations.
- Should we write the range as a std::array instead of a std::pair so that it can handle enumerations?
- Cleanup and sweep of Boundaries vs Range terminology.
- In order to do the partial template specialization of the Parameter class, we needed to move it out of the Object class -- thus we can now move the Parameter code to it's own file.

[2015-07-30 14:11] tap opened #24 "Create benchmark code to compare performance agains Jamoma1"
A few easy tests that can be timed and printed to the console:
- Run 1000 Parameter sets / gets for a non-clipped Parameter in both versions (e.g. gain in the Gain class)
- Run 1000 Parameter sets / gets for a clipped Parameter in both versions (e.g. freq in the LowpassFourpole class)
- Run 1000 calls to the process method with 64-sample blocks, with 1024-sample blocks

[2015-07-30 14:12] tap commented on #24
The first two tests above should be done for both **static** and **dynamic** calls.

[2015-07-31 00:58] tap commented on #24
Also should check a couple of Parameters the use the new Dataspace functionality vs old versions that did the conversion internally.

[2015-07-31 12:39] nwolek commented on #19
working and passes test

[2015-07-31 12:39] #19 closed, assigned to nwolek

[2015-07-31 12:51] nwolek opened #25 "Should we overload generator constructors to provide alternate syntax ?"
Currently I have to use the following syntax to generate a 1 channel, 64 sample unit impulse:

<pre>
Jamoma::UnitImpulse my_impulse;

my_impulse.channelCount = 1;
my_impulse.frameCount = 64;

auto output = my_impulse();
</pre>

I am thinking that for signal generators, we might want a simplified syntax that looks something like this:

<pre>
Jamoma::SampleBundle impulse(1, 64);
</pre>

or

<pre>
au

[2015-07-31 14:33] nwolek commented on #12
Did some more testing this morning. My procedure was to run <a href="https://github.com/jamoma/jamoma2/blob/master/examples/simple.cpp#L305">the simple.cpp test graph</a> in Xcode that produces filtered noise and then tune a cycle~ oscillator in Max to match the pitch I heard. I removed the 1.16 multiplier in <a href="https://github.com/jamoma/jamoma2/blob/master/includes/JamomaLowpassFourPole.h#L

[2015-07-31 15:03] nwolek commented on #12
Seemed like a good theory. Results are sounding more non-linear in the application. Bummer.

[2015-07-31 15:16] tap commented on #25
Thinking maybe we could have constructors take N pairs of attrname and
value.  Would maybe help here and generalize to all attr setting at
construction.

This is such a common case we may want cater for it directly though too...

On Friday, July 31, 2015, Nathan Wolek notifications@github.com wrote:

##

Best,
Tim

[2015-07-31 17:03] nwolek commented on #12
Found the Stilson/Smith paper here: https://ccrma.stanford.edu/~stilti/papers/moogvcf.pdf

To quote the conclusion: "Implementability issues make the conversion of the Moog VCF to a digital form nontrivial." Basically digital versions of this filter are either going to get good frequency control or resonance, but not both.

[2015-07-31 17:15] nwolek commented on #12
Another source here on this filter: http://www.acoustics.ed.ac.uk/wp-content/uploads/AMT_MSc_FinalProjects/2012__Daly__AMT_MSc_FinalProject_MoogVCF.pdf

To quote the recommendations section: "The result of this report can be stated succinctly: it is possible to create a very accurate model of the Moog VCF but at considerable costs to either cut-off frequency range or input signal amplitude and com

[2015-07-31 18:26] nwolek opened #26 "Implement method for double comparison"
We will need this immediately for testing the impulse responses of our filters. An example of where this is needed can be seen here:

https://github.com/jamoma/jamoma2/blob/master/examples/simple.cpp#L272

[2015-07-31 18:30] nwolek commented on #13
I think it should be closed for now by virtue of the fact the 2/3 of contributors agree to remain flat for the time being. @lossius is free to raise the question again as things get bigger. Have the issue remain open and open-ended is not helpful. Therefore, I am closing it.

[2015-07-31 18:30] #13 closed, assigned to tap

[2015-07-31 19:12] nwolek commented on #12
I have implemented a test for the current expected impulse response. If something changes, we will know about it.

[2015-07-31 19:22] nwolek commented on #12
I think this has been reviewed and documented enough to close the issue.

[2015-07-31 19:22] #12 closed, assigned to nobody

[2015-07-31 19:30] nwolek opened #27 "Should LowpassFourPole "q" really be named "resonance"?"
Most of the sources I reviewed for issue #12 called it resonance. It is not the same thing as Q, but I am having a hard time finding an online source that explains the difference/relationship clearly. Clearest thing was this discussion: https://www.native-instruments.com/forum/threads/filter-q-vs-resonance.234219/

The original Moog VCF panel has a resonance knob:
![Moog VCF panel](http://www.anal

[2015-07-31 19:31] nwolek commented on #4
What would be the steps to closing this issue?

[2015-08-03 15:13] tap commented on #27
Please rename.  I have a recollection now that I renamed it from resonance to q for the j.filter~ object so that it could be controlled using the same attribute as the others.  But this was misleading and should never have been done.

Thanks, @nwolek !

[2015-08-04 00:54] tap commented on #5
@nwolek This task, which is very similar to a grain playback object, seems like something that might best be approach with us doing it as a pair-programming project.

Not sure what your schedule is like, but maybe sometime next week would work for tackling this one together?

[2015-08-04 01:18] #27 closed, assigned to nobody

[2015-08-04 02:48] tap commented on #26
The commit here is implemented somewhat generically (i.e. to work on both 32- and 64-bit values) but could likely be improved.

@nwolek please test and close it if you are happy -- example usage is in the new Dcblocker unit test.

[2015-08-04 02:50] tap commented on #4
Something is in place -- now we just need to start moving code out of the example program and into individual unit test programs.

[2015-08-04 13:32] nwolek commented on #5
I agree we should would together on this. My schedule is pretty packed between now and Aug 21, as I finish this installation and start classes. I could Skype the morning of 10th but would not be able to follow up for a full 2 weeks after.

During this busy stretch, I am going to be working on a interpolating Delay unit as time permits. This should prevent me from getting rusty. :) Started last nig

[2015-08-04 14:22] tap commented on #5
Groovy!  Probably obvious, but in this case it is probably useful to use TTDelay as a reference/model.

[2015-08-04 19:05] tap opened #28 "Delay Object Implementation"
Creating this to track work that @nwolek has already started.

A couple of thoughts...
1. We should do this work on a branch until it is fully baked (I should also do the same with the Limiter work -- my bad)
2. For the design we don't want branching in the perform loop (e.g. for different interpolation types) because it's slow.  But we don't want multiple Delay objects for Linear, Cosine, Cubic,

[2015-08-04 19:07] tap opened #29 "Dataspaces v2 Implementation"
Implemented as templates that can be applied with configurability at runtime (like we do in Jamoma1) or hyper-efficiently at compile time.  Also to be passed as part of a Parameter definition.

[2015-08-06 18:49] tap commented on #4
@nwolek When you have some moments to carve away... Would you be willing to take a look at (build and run) the project in `tests/Dcblocker` ?

[2015-08-06 23:35] tap commented on #20
Initial Travis CI setup is done.  It works on the Mac.  Doing things for other platforms can come later as we need it.

At the moment we do have a "failing build" due to the Dcblocker test failing.  You can see this by going to https://github.com/jamoma/jamoma2 and looking at the ReadMe content half-way down the page.

[2015-08-06 23:35] #20 closed, assigned to nobody

[2015-08-07 01:31] tap commented on #26
I'm happy with this now, so I'm closing it out.

[2015-08-07 01:31] #26 closed, assigned to nobody

[2015-08-07 01:49] tap opened #30 "LowpassFourPole UnitTest has inaccurate Impulse Response"
Might be due to some roundoff in Processing?

@nwolek do you have the code you used to generate the reference response?

[2015-08-07 02:20] #4 closed, assigned to nobody

[2015-08-07 13:41] tap opened #31 "Integrate Coverity Scan into Travis CI"
https://scan.coverity.com/travis_ci

[2015-08-07 14:19] nwolek commented on #4
I just opened the project and it builds and runs here. No warnings, so I think it was successful.Where do the logs go? Without them, it feels like there is very little feedback to the user/developer.

[2015-08-07 17:41] tap commented on #4
This one doesn't fail any more because I changed the reference impulse response used for comparisons.

A few ways to see the results:
- In Xcode, in the JamomaTest_Dcblocker project, `build and run` the "UnitTest" target
- In Xcode, in the JamomaTest_Dcblocker project, `build` the "UnitTest-Make" target (failures will show up as errors)
- On the command line, run `make test` in the Dcblocker folde

[2015-08-08 01:08] tap commented on #29
Next is integration with the Parameter class so that Parameters can have a Dataspace.

[2015-08-08 01:13] tap opened #32 "WhiteNoise class needs Unit Test"
Not sure how to approach this one.  Any ideas @lossius ?

[2015-08-08 01:19] tap commented on #28
Moved to the `nw/delay` branch in git

[2015-08-08 01:20] tap commented on #9
Limiter moved to the `tap/limiter` branch

[2015-08-08 06:22] lossius commented on #32
The same algorithm, with the same initial seed value, should produce the same series of numbers in octave/matlab. That will help testing for consistency. As for whether the algorithm actually produce  white noise, the best would be to just monitor and hear/analyse the resulting sound over time once, and see that it does not have biases. Probably the algorithm will be based on a snippet of code fro

[2015-08-08 06:32] lossius commented on #27
In a thread at a NI forum, one of the NI techs gives the following conversion between resonance and quality:

1/Q=2(1-resonance)

https://www.native-instruments.com/forum/threads/filter-q-vs-resonance.234219/

[2015-08-08 06:34] lossius commented on #27
(the previous post got posted prematurely, so if watching in mail, please check online)

[2015-08-08 06:36] lossius commented on #27
The reason why we wanted all filters to have a Q parameter, was that they would share the same interface, and thus could be used interchangeably. But if a filter is a beast of a different colour I'd say that it does not make sense to force it to have a Q.

[2015-08-08 18:52] tap commented on #32
I guess I was thinking that rather than test for specific numbers a test for this would be something along the following lines:
1. Take an FFT (probably do a bunch of runs and then average a bunch of FFTs)
2. Determine the mean and std deviation
3. Assert that there are no outliers

But perhaps this is faulty in some way?

[2015-08-08 19:05] tap opened #33 "Implement "Notification" nodes for Objects"
At the Florida workshop we discussed `Notification` being the appropriate word to supplant `return` to complement the `Parameter` and `Message`.

Apropos to this, @lossius has noted the following library which may be useful either directly or as a model: https://github.com/pbhogan/Signals

One substantial difference between our goals and the library above is that we need to deal with queuing.  The

[2015-08-08 22:30] lossius commented on #32
That is unreliable. You could be unfortunate to pick a seed that temporarily leave the mean and standard-deviation to be slightly different. It's in the nature of random processes not only to have a mean value, but also to deviate.

It's better to do this once manually on a longer sample to verify that the algorithm produce sane results, but rather use a fixed seed in the unit test.

[2015-08-08 23:45] tap commented on #29
I'm not 100% confident on how this is all done... A few spots definitely don't feel "elegant"...  But at least it works and we can (hopefully) review and revise later.

[2015-08-08 23:45] #29 closed, assigned to tap

[2015-08-09 14:22] tap commented on #33
A few additional thoughts from @jcelerier

As a side note, other well-known implementations are :

Boost.Signals2 : http://www.boost.org/doc/libs/1_55_0/doc/html/signals2.html
libsigc++ : http://libsigc.sourceforge.net/

And a few interesting resources :
https://testbit.eu/cpp11-signal-system-performance/
http://helloworld922.blogspot.fr/2013/07/thread-safe-signalsslots-using-c11.html

About Qt, i

[2015-08-09 20:40] tap opened #34 "Port the Time Dataspace over from Jamoma1"
After creating the unit tests, then integrate with the **frequency** parameters of the filter objects.

[2015-08-09 20:41] tap commented on #34
Ideally the person to do this would be someone other than me so that we can have more eyes on the code and get some feedback about how everything works...

[2015-08-10 09:42] lossius commented on #34
Assigning to me

[2015-08-10 09:43] lossius commented on #29
Eventually we should probably do a brainstorming session and look into how all of the services need to work together, in particular dataspace and ramping/easing (or LFO).

[2015-08-10 11:42] tap commented on #29
I agree.  It was at least obvious that dataspace conversion needs to be applied prior to clipping, but then ramping/easing adds a whole new challenge and I know this was carefully specified in Jamoma1.

[2015-08-10 21:27] #3 closed, assigned to nobody

[2015-08-10 21:36] tap commented on #21
The test case for this could be a sin/cos oscillator.
- The **phase** Parameter would need to **wrap**
- The **freq** Parameter could **fold**

[2015-08-11 03:20] #21 closed, assigned to nobody

[2015-08-11 03:21] tap opened #35 "Phasor UnitTest needs to test the object output"
Should be easy to do for anyone that wants to do it...

[2015-08-11 12:09] tap commented on #8
We need to make a distinction (and implement both) between functions and operators.

Functions:
- sink
- splitters
- joiners

Operators:
- +
- /
- cos()
- etc.

[2015-08-11 16:15] tap commented on #24
Initial work is complete.  Additional issues and requests related to this (and the implementation) is all in the "JamomaBench" repository.

[2015-08-11 16:15] #24 closed, assigned to tap

[2015-08-13 18:43] tap commented on #34
Additionally would like to use this dataspace in the Limiter for the **release** Parameter.

[2015-08-13 18:51] tap commented on #11
There are a number of places we need to know about changes to sampleRate:
- 4-pole lowpass freq
- limiter (setRecover)
- phasor freq

[2015-08-13 22:09] tap opened #36 "Unit Test Coverage"
Use tools for determining how much of our code is actually being tested.
Integrate these tools into our Continuous Integration.

[2015-08-13 22:16] tap commented on #36
For CI we could use something like Coveralls, which I've set up for Jamoma2 @ https://coveralls.io/repos/69110

Another project where I've seen Coveralls used is https://coveralls.io/github/mapbox/variant

The best looking setup procedure I've seen is @ https://github.com/JoakimSoderberg/coveralls-cmake with an example using it @ https://github.com/JoakimSoderberg/coveralls-cmake-example

[2015-08-13 22:20] tap commented on #36
For doing coverage reports locally, I found this article to be hugely helpful: http://logan.tw/posts/2015/04/28/check-code-coverage-with-clang-and-lcov/

For prerequisites, I had to do the following:
- `brew install llvm-cov`
- `ln -s /Library/Developer/CommandLineTools/usr/bin/llvm-cov /usr/local/bin`

Having done those I was able to follow the instructions and get a really nice web page showing

[2015-08-13 23:31] tap commented on #36
Demo at http://youtu.be/EJr-ELeOth4

@lossius @nwolek

[2015-08-14 07:46] lossius commented on #11
At least with respect to a future audio graph structure, it would make sense that each Jamoma AudioGraph got notified in one place from the host environment about sample rate (eventually queried the host environment whenever resetting), and then forwarded this information to all of the nodes of the graph.

I've just been through a series of tutorials on building plugs with wdl-ol. By the end of th

[2015-08-14 15:51] tap opened #37 "Var: redesign of how we handle generic value passing"
- In Jamoma1 the TTValue is internally a std::vector, and thus always alloced on the heap.
- In Jamoma2 thus far the Value is alloc'd on the stack if it is 8-bytes or less (good) or on the heap otherwise (could be good or bad but it increases the complexity).

Also, Jamoma1 TTValue can have N elements whereas thus far the Jamoma2 Value can have only 1 element -- but we need to be able to pass coll

[2015-08-14 15:51] tap commented on #1
Irrelevant with the redesign in #37

[2015-08-14 15:51] #1 closed, assigned to nobody

[2015-08-14 15:52] tap commented on #2
Irrelevant with the redesign being undertaken in #37

[2015-08-14 15:52] #2 closed, assigned to nobody

[2015-08-14 21:22] tap opened #38 "Parameter Definition Args"
Would be nice if we could specify the args more flexibly than we do now.  Maybe even in any random order.

Maybe something like this?
- iterate args
- determine their types
- do something appropriate for their given type
- can we make this whole process constexpr ?

[2015-08-16 17:48] tap commented on #28
Relevant food for thought coming from the music-dsp list this weekend:

[code]

And an answer:

[code]

And another:

[code]

[2015-08-18 11:10] tap opened #39 "convert build system to cmake"
currently we are doing 2 parallel systems for Make and Xcode and hardwired for Mac

[2015-08-21 12:46] tap opened #40 "Sync: mode to change freq only at cycle's end"
Phasor should have a mode where the phasor only changes frequency at the end of a cycle.
If a new frequency is received before hand, then it is queued.

[2015-08-22 20:52] nwolek commented on #30
Looks like Processing has spotty support for [doubles](https://processing.org/reference/double.html): "A double can be used similarly to a float, but can have a greater magnitude because it's a 64-bit number. Processing functions don't use this datatype, so while they work in the language, you'll usually have to convert to a float using the (float) syntax before passing into a function."

That's a

[2015-08-22 22:25] nwolek opened #41 "port gverb~ algorithm"
Long term goal that requires several unit processors be built first. Shifting this issue from jamoma/JamomaCore#279 to here was agreed during the Florida Workshop.

[2015-08-24 07:58] lossius commented on #30
My suggestion would be that we do this in Matlab or Octave whenever we can.

[2015-08-24 14:27] tap commented on #30
Agree with both of you.  Octave is better than Matlab when possible because it is free, though if we need to use the Filter Toolbox or something then obviously we will need Matlab for those cases.

[2015-08-24 18:10] tap opened #42 "dataspace: gain implementation"
There are some competing concerns that need to be considered in the design of the gain dataspace.  This is particularly true with regards to clipping the range.

It might be that we need two different units, e.g. a _db_ unit and _clipped_db_ unit.  Or maybe a template parameterization with a constant for the lower bound.  Or ???

Here is an excerpt from the most illustrative of several messages fr

[2015-08-25 18:18] tap commented on #39
done

[2015-08-25 18:18] #39 closed, assigned to tap

[2015-08-25 18:20] tap commented on #37
This is more or less done, but I feel like we need to write an article about it.  Or maybe some more narrative form of documentation / discussion.

I'm not sure what the best way is to set that up with Doxygen.  I think @nwolek set up something like that for Jamoma1 code tutorials?

[2015-08-26 17:23] nwolek commented on #37
Looks like you are referring to these:
https://github.com/jamoma/Jamoma/tree/master/Doxygen/intro_chapters

They show up in order. I intentionally numbered those with 10s so that we could squeeze additional topics between them when necessary.

Any chapters that are added there will automatically become part of the api.jamoma.org site. If you want to set up a different Doxygen-generated site for ja

[2015-08-26 17:25] nwolek commented on #30
I am not against Octave, I am just more fluent in Processing. Seems like the doubles issue will push us toward Octave though.

[2015-08-27 23:31] tap commented on #17
More detailed info expounded in this Herb Sutter talk: https://www.youtube.com/watch?v=c1gO9aB9nbs

The general term for his pattern is the "Meyers Singleton" which is around 28-29 minutes in:

[code]

The cool thing is that it is thread safe!

[2015-08-31 12:03] tap commented on #11
Here is the text from jamoma/JamomaCore#354 --

[2015-09-02 14:12] nwolek opened #43 "How should we handle sample interpolation?"
In the following issue from JamomaCore, we talked a bit about interpolation from the TTSampleMatrix:
https://github.com/jamoma/JamomaCore/issues/127

Probably not an urgent priority, but @tap and I should have a discussion about how we want to address this with the new SampleBundle model before we go too far down the road. I don't think interpolation should be completely the users' responsibility.

[2015-09-02 16:50] nwolek commented on #30
Working today on changing the syntax to work in Octave. I have the following which writes output to the console. Next step will be to write output to a file.

<pre>
clear
kPi  = 3.141592653589793238462643383279502884197169399375105820974944592307816406286208998628034825342117068;
kTwoPi  = kPi * 2.0;
in1 = 0;
in2 = 0;
in3 = 0;
in4 = 0;
out1 = 0;
out2 = 0;
out3 = 0;
out4 = 0;
frequency = 1000.0;
sa

[2015-09-03 16:42] tap opened #44 "SampleBundle design considerations (vs. SampleBuffer?)"
The SampleBundle as it now exists is very straight-forward, which is one of its strengths.

There are, however, several roles where it is currently inadequately suited.  To address these we need to decide whether to enhance the existing SampleBundle or extend it by way of subclassing to e.g. a new SampleBuffer class.

Here are several scenarios of which I'm thinking:
- You load a soundfile using w

[2015-09-03 16:45] tap commented on #42
be sure to review:
- jamoma/JamomaCore#374
- jamoma/JamomaCore#375
- jamoma/JamomaCore#376

Among other things, the `midigain` function will need to be changed to reflect the gating at -96db.

[2015-09-04 10:31] tap commented on #44
From discussion currently going on at the music-dsp list:

[2015-09-04 10:34] tap opened #45 "Make Sample Rate an "Adapting Parameter""
Like `channelCount`

See #44

[2015-09-04 10:35] tap commented on #45
Note that this gives purpose to all audio operators knowing their sample rate.

[2015-09-08 12:08] tap opened #46 "Compile Time Checks"
Sweep through to improve type-safety and static_asserts.

Here is a related trick that recently came across my screen:

[2015-09-08 12:54] tap opened #47 "Example using libsoundio"
This is the new hotness: http://libsound.io/

It may or may not prove to compare well against PortAudio, but would be nice to have examples using both.

[2015-09-22 19:11] tap opened #48 "Update License in all header/source files to match repo license"

[2015-09-23 15:22] tap commented on #28
The `nw/delay` branch was just a stub and I ended-up starting over.  The initial `Delay` class and unit test is now implemented in a working form on the master branch.  But there are some caveats:
- This initial implementation has no interpolation
- This initial implementation has a minimum delay time of one vector size
- The performance of the single-sample version may be poor, but at this point

[2015-09-25 14:02] nwolek commented on #44
I guess the obvious should be stated: adding metadata means losing the current design where SampleBundle simply extends std::vector. We would presumably need some class or structure that wraps up the metadata with the SampleBundle. I think that is what you are referring to as the SampleBuffer. This strikes me as a big loss that increases the complexity.

If I could offer an alternate idea: what if

[2015-09-25 14:11] tap commented on #44
At the moment there are lots of issues conflated here, not just two of them :-)

We definitely need to tease it apart some more before committing to anything.  One observation to add is that samples are meaningless without information about their sample rate.

I also don't like completely separating the metadata from the data as Apple has done, but maybe it is a mute point because the two separate

[2015-09-25 19:42] tap commented on #46
http://en.cppreference.com/w/cpp/types/is_same
http://stackoverflow.com/questions/16924168/compile-time-function-for-checking-type-equality

[2015-09-25 19:43] tap opened #49 "class name dynamically"
If we did this then we wouldn't need the non-dry mechanism we currently have to specify a symbol/string name with each class for dynamic construction.

http://stackoverflow.com/questions/3649278/how-can-i-get-the-class-name-from-a-c-object

[2015-09-25 19:59] tap commented on #12
updated link for musicdsp source: http://musicdsp.org/showArchiveComment.php?ArchiveID=26

[2015-09-28 15:19] tap opened #50 "repetition filtering"
Feature from Modular that we should spend time thinking about for integration in the Jamoma2 kernel.

See jamoma/JamomaMax#934

[2015-09-29 19:54] #48 closed, assigned to nobody

[2015-09-30 14:52] nwolek opened #51 "Octave instructions snag at package installation"
I spent this morning reviewing the readme to make sure that they work for new contributors. Made some corrections, but the steps hit a snag during package installation. This step:

pkg install ~/Downloads/control-2.8.4.tar.gz

Creates the following report that the make fails:

<pre>
...
f951: Warning: Nonexistent include directory '/Library/Java/JavaVirtualMachines/jdk1.8.0_40.jdk/Contents/Home/in

[2015-09-30 15:02] tap commented on #51
I have Java installed because of my C74 work, so it makes sense that I didn't have this problem.  Thanks for catching it, @nwolek.

According to http://wiki.octave.org/Octave_for_MacOS_X you can avoid the Java dependency when you install octave:

[code]

Not sure if there is any special cleanup or uninstall procedure you need to do before running that if you've already done the with-java install.

[2015-09-30 15:49] lossius commented on #51
Do we really need to provide instructions on how to install Octave in order to work with Jamoma2? Isn't it only used every now and then by a few of us to calculate some values for unit tests? To present Octave as a necessary dependency sounds like quite an overkill to me.

Anyway, I have always had problems installing Osctave using MacPorts or Homebrew. This has been the case with all OSX versions

[2015-09-30 15:53] lossius commented on #51
Looking at the unit testing part of the readme my humble iopinion is that we should remove all instructions regarding how to install Octave. It is not DRY that we try to maintain instructions on this, this is not the scope or obligation of the Jamoma project. Instead we should simply provide a link to a proper place where this info is maintained and kept up to date.

[2015-09-30 16:12] tap commented on #51
You can't use the binary distro of Octave because package installation is broken and in order to do anything DSP related you need to install the DSP (and Control) packages.

[2015-09-30 16:34] nwolek commented on #51
I was hoping to avoid reinstalling the gcc, since it took me 40 minutes this morning. In essence, I did the following:

<pre>
brew uninstall octave
brew untap homebrew/science
</pre>

Then I went through the steps and skipped the gcc line. But the results are are as follows:

<pre>
lowkeymacbookpro:~ nathanwolek$ brew install octave --without-java
==> Installing octave from homebrew/homebrew-scien

[2015-09-30 16:42] tap commented on #51
The other option is that you could just install java, though I don't really
recall what that means or how it is done.  Maybe it's done through some
Apple magic ?

Tim

On Wed, Sep 30, 2015 at 11:34 AM, Nathan Wolek notifications@github.com
wrote:

[2015-09-30 16:47] nwolek commented on #51
The weird thing is that installed Java last week for something. I have a control panel for it in my System Preferences. Is this just a runtime environment and not the developer tools?

I have made progress by changing the permissions on ghostscript from 755 to 777 for the linking step.

[2015-09-30 17:15] nwolek commented on #51
While I agree with @lossius in principle, we need some targeted directions for this. I believe I have ironed them out now, plus I added a reference to the Octave wiki were people can get more information. Closing the issue via commit 5475358.

[2015-09-30 17:15] #51 closed, assigned to nwolek

[2015-09-30 23:01] #30 closed, assigned to nwolek

[2015-10-07 14:03] nwolek opened #52 "Discuss length of class desciptions for Doxygen comments"
@tap added several comments back into the LowpassFourPole file here:
https://github.com/jamoma/jamoma2/commit/2366d060d6992a6881e9eb3a4facfde8468ebc5e

My initial goal was to provide "just enough" useful information for that side panel in Xcode. The comments in a few places are now so long that they require quite a bit of scrolling and I find the information to be too much. I don't dispute that mo

[2015-10-07 14:51] tap commented on #52
It might be useful to see how this is handled in other software codebases.  Or it might not be useful.

One aspect of the header-only approach we are using that I find very compelling is that we have **a single authoritative place for all knowledge about a specific implementation**.  It's like being DRY but at more of a "meta" level.

To that end, I feel that it is very desirable to have this type

[2015-10-07 17:25] tap opened #53 "Apply New C++ Core Guidelines"
Will require one or more complete code reviews, which is a good thing...

https://github.com/isocpp/CppCoreGuidelines

https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#S-class

[2015-10-07 18:41] nwolek commented on #28
Been doing some thinking today about how LinearInterpolation would work using CircularStorage as a the foundation. I am going to be working and testing on a non-DRY implementation in branch to see what this thinking yields.

[2015-10-08 15:27] tap commented on #34
I'm going to take this assignment as this particular dataspace is holding back some other work.  The other dataspaces are still free to be implemented though!

[2015-10-08 18:37] tap commented on #34
Unit tests are still needed, as is a code review (the two could go hand in hand), so assigning back for that...

This dataspace is used by the LowpassOnepole class `frequency` parameter.

[2015-10-14 16:35] nwolek commented on #28
@tap I have the Sample operator working of the linear interpolation delay (and passing tests), but running into some challenges with the SampleBundle operator. Hitting the thread safety assertion. Wondering if you can take a look and see if something jumps out at you. If you need me to explain, we should set up a time to Skype, but that might not happen until next week.

Operator is here:
https://

[2015-10-14 17:13] tap commented on #28
Hi @nwolek -- what I see in the debugger is this:
1. In JamomaDelay.h, line 173, we crash at the point you mention, _when channel == 1_
2. At this point I can see that the size of mHistory == 1, meaning only channel 0 is legit.
3. In dereferencing the uninitialized memory that assertion fails

A little higher up, at line 167, you call adapt.  This will adapt the number of channels to the stereo in

[2015-10-21 12:52] nwolek commented on #28
OK, I commented out the Observer because I did not exactly understand what it was doing and wanted to eliminate variables. Your explanation above helped me see what it is doing.

Adding the Observer back in resolves the thread safety issue. Glad to know that thread check is working! Now I just need to get it passing the test.

My immediate goal for this issue is to get the linear interpolating del

[2015-10-21 14:50] nwolek commented on #28
@tap - My tests are showing that the adapt(x) operation zaps the memory in mHistory. It doesn't happen in your version without interpolation (line 86), but does in my version with interpolation (line 171). Not sure what the difference is. Might require us to Skype and discuss. Message me if you think you might have time before the weekend.

[2015-10-21 15:37] tap opened #54 "Comb filter"
implement (needed for tap.verb~)

[2015-10-21 16:46] nwolek opened #55 "test Delay at the boundary between vectors"
There might be an issue here. Some of the testing showed that an extra non-zero value would sneek through when the delay size was set to 64.2 and the vector size was 64.

Making a note so that I remember to come back to it.

[2015-10-21 18:08] tap opened #56 "Interpolation Classes"
In the design of interpolation classes, the class should include a query-able constant that defines the number of samples required to perform said interpolation.

This is in addition to the obvious algorithm and potential member vars.

[2015-11-06 15:41] tap opened #58 "code review for <functional> improvements"
- `std::mem_fn` and `std::bind` have performance issues, can't be inlined, etc.
- lots of hidden gotchas to the above
- use lambdas (it is a core language feature, not an STL feature)
- std::function is awesome, but use it only when necessary (if you can use a template class or auto or something then that is better), but it does _have space cost_ and it _prevents inlining_.

See video by Stephan T

[2015-11-07 14:45] tap opened #59 "Audio Rate Parameters / Queuing and Ramping Parameters"
Long-standing feature request from the past 10 years, including jamoma/JamomaCore#75

[2015-11-11 12:26] nwolek commented on #55
This was fixed here: https://github.com/jamoma/jamoma2/commit/8488f7c624b242b25992cdead16fa840bb6a7d55

Been reflecting on the solution and may be refactoring today or in near future. But at least there is a test in place to catch the issue if it returns.

[2015-11-11 12:26] #55 closed, assigned to nwolek

[2015-11-11 13:27] tap commented on #47
Examination of this leads me to conclude that this is a distraction in the near term.  If libsoundio proves itself in the longer term then we can address at that point in time.

[2015-11-11 13:27] #47 closed, assigned to nobody

[2015-11-11 13:29] tap commented on #56
We also need to consider #43 in the implementation of the interpolation classes -- though I don't really understand the underlying concern of that issue very well.  Likely need to have a conversation with @nwolek to iron this out.

[2015-11-11 13:34] tap opened #60 "Factor interpolation out of `Delay` and `InterpolatingDelay`"
Passing in the Interpolation implementation as template argument.

[2015-11-11 15:10] #28 closed, assigned to nwolek

[2015-11-11 15:20] nwolek commented on #41
Unit processors needed w count in algorithm:
Lowpass filter - 3
AllPass filter - 6
Sample delay - 4
Modulating AllPass filter - 2
(these are modulated with a sine table)

[2015-11-11 15:31] tap commented on #56
Hi Nathan -- I did the initial port from Jamoma1 (see commit above).  A couple of the interpolation types are not currently tested.  Also I didn't scrutinize the comments and it could use review as well.

In Jamoma1 these were implemented as templated _functions_.  For Jamoma2 I have implemented them as templated _classes_.

Because classes have the function operator defined, they can be called as

[2015-11-11 15:42] nwolek commented on #56
OK, thanks Tim. I was trying to make some progress on #35 today, but will give this an initial look today too. I feel like both are going to be necessary for #41 where I need a modulating allpass filter.

[2015-11-11 15:48] tap commented on #41
FWIW, I believe that the Jamoma::Allpass filter should already work with modulation -- but I haven't tested that and could be mistaken...

[2015-11-12 02:25] nwolek commented on #35
Looks like the method used for computing step size in this code is slightly different than the one I created in my Octave comparison code. So this is going to take some research to figure out which is right. The difference is about 0.00000515, but it adds up with each step.

[2015-11-12 02:30] nwolek commented on #35
@tap - would also appreciate your opinion: should Phasor require an input? I kind of think it should be like UnitImpulse or WhiteNoise, but I could be convinced otherwise.

Right now it is like this:
auto out = phasor( impulse() );

I think it should instead be:
auto out = phasor();

[2015-11-12 02:39] nwolek commented on #35
Back to difference in computing the step size, which seems to hinge on computing rampSamples first [like here in JamomaCore](https://github.com/jamoma/JamomaCore/blob/master/DSP/extensions/GeneratorLib/includes/TTPhasor.h#L26). Not sure storing this value is necessary. YAGNI?

[2015-11-12 04:29] tap commented on #38
It would be nice if we could also provide template parameters in any order, but this seems good enough for now...

[2015-11-12 04:29] #38 closed, assigned to nobody

[2015-11-12 04:34] tap commented on #35
I agree that phasor should be a generator, though maybe an optional input to toggle it on/off would be useful?

As for the ramp time in samples in JamomaCore, I think that is flawed.  What if your cycle time in milliseconds is not an integer number of samples?  Then you will have drift and error -- and phasor is the place you can't afford that because it is the type of object you use to drive all

[2015-11-12 04:39] tap commented on #23
All nice and tidy now.

[2015-11-12 04:39] #23 closed, assigned to tap

[2015-11-18 13:48] nwolek opened #61 "Should SampleRate have a lower limit?"
This could save us from having to needlessly and repeatedly check it when using it in division. I might also be nice for the AudioObject to store a variable for 1 over the SampleRate.

https://github.com/jamoma/jamoma2/blob/master/includes/core/JamomaAudioObject.h#L105

If we agree, then what should the lower limit be? My instinct is 1, but I could be convinced otherwise.

[2015-11-18 13:53] tap commented on #61
We could.  It defaults to 96K.  Where is it being set to 0?

[2015-11-18 13:58] nwolek commented on #61
No where currently. It's just my instincts to be on the lookout for potential divide by zeros. The new algorithm for phasor uses something like this:

mStep = frequency / sampleRate;

That's a problem if the sampleRate could ever be zero. Right now there is nothing to stop it.

[2015-11-18 15:52] tap commented on #61
I think it's a good idea to add both a **Range** and **Limit** to that parameter.

Thanks for confirming that we aren't doing something ridiculous somewhere else :-)

[2015-11-18 18:34] nwolek commented on #35
Good tests results so far with the new algorithm. Timing looks improved. Phasor now behaves like a generator and requires no input.

Regarding starting/stopping: I think that is a better description for a Ramp. Let's not put the overhead to check starting/stopping into Phasor. Would you agree @tap?

Just making a note for later: I need to add a test that runs across multiple SampleBundle outputs t

[2015-11-18 20:36] tap commented on #35
Thanks @nwolek !  I appreciate your work -- and your success!

I disagree that sample accurate / synchronized start is not useful for a phasor.  If you are concerned about the computation of that checking then make me a ticket and I'd be happy to investigate some ways of avoiding the overhead when it is not needed -- I believe there are things we can do there.

Takk!

[2015-11-26 15:30] nwolek opened #62 "Consider generator inputs to add potential for sample accurate start / stop"
Idea for this was raised by @tap during the discussion on issue #35. Concept would be for generators (currently Phasor, UnitImpulse, WhiteNoise) to accept an input that controls the starting and stopping of their output.

I've been thinking about this some more since the idea was raised, and the concept is growing on me. One option would be for them to receive a SampleBundle with a mix of zeros an

[2015-11-26 16:34] nwolek opened #63 "Why does auto result in changing Sample values?"
Noticed this behavior while working on issue #35 between commits https://github.com/jamoma/jamoma2/commit/6b8b76fea618b6e528c9a93cb404aaa0537278d5 and https://github.com/jamoma/jamoma2/commit/95f6ba7bab7686484d0f025db562a78ff1080630. Going to work up a test on a separate branch. Making note so I don't forget.

[2015-11-26 16:35] nwolek commented on #35
Since @tap most of this, I feel confident enough to proceed with merge into master and closing the issue.

[2015-11-26 16:37] #35 closed, assigned to nobody

[2015-11-26 17:00] nwolek commented on #63
OK, I hope this test provides a clear demo for @tap. Let me know if you have questions once you get to it. Time for holiday afternoon with the family. Happy thanksgiving!

[2015-11-26 17:03] nwolek commented on #61
I'll tackle this at some point in the near future.

[2015-11-27 14:16] nwolek opened #64 "Should Phasor be re-named?"
https://github.com/jamoma/jamoma2/blob/master/includes/library/JamomaPhasor.h

I realize the name is borrowed from MSP, but for the non-Max user there is potential confusion with these (some more serious than others):

https://en.wikipedia.org/wiki/Phasor
https://en.wikipedia.org/wiki/Phaser_(effect)
https://en.wikipedia.org/wiki/Weapons_in_Star_Trek#Phaser
https://en.wikipedia.org/wiki/Phasor_(so

[2015-11-27 14:42] nwolek commented on #56
Looked at these again today. It took me a while to figure out how the test was working because of the template function and such. I am not sure we want our tests to be so obtuse. I am going to work toward simplification so that the code is more readable. That might mean violating the DRY principle in testing, but it will help the code serve as examples for others.

[2015-11-27 15:07] tap commented on #63
This is a really good question -- understand the answer and you will understand a _lot_ about C++11.  I tripped myself up on this a few months ago too, FWIW.

To reason about this, what is the actual type that is deduced by `auto` in this line of code?

[code]

The answer (from looking at the function operator overload) is `SharedSampleBundleGroup`.  It is not `SharedSampleBundleGroup&` or `Shared

[2015-11-27 15:08] tap commented on #63
(apologies if my answer was a bit tedious : I'm treating the answering of issues like this as writing documentation, since that's essentially what the issue-history is...)

[2015-11-27 16:55] nwolek commented on #63
I think your response is great! Makes sense and helps clarify what I was observing. You are absolutely right to treat these questions as opportunities for doc writing.  I am going to copy the test code into this thread to archive it too. Should it be merged back into master branch with the expectation that the values would compare as _not equivalent_?

<pre>
        void testAutoCreatedSampleBundl

[2015-11-27 16:59] nwolek commented on #63
I think that preserving the test would give us something to point people to as a demo of this behavior.

[2015-11-27 23:07] nwolek commented on #56
Bookmarking these. Likely source of my targets for testing:

https://www.gnu.org/software/octave/doc/interpreter/One_002ddimensional-Interpolation.html

[2015-11-30 16:21] tap commented on #64
Indeed.  There are a number of "Saw" UGens in SuperCollider.  http://doc.sccode.org/Browse.html#UGens%3EGenerators%3EDeterministic

I'm not sold on LFSaw though.

I propose something like `Sync`.  Because really that's what we are trying to achieve when using this oscillator to generate a phase signal.

[2015-12-02 11:57] nwolek commented on #64
Sync is good. I'll make this change today.

[2015-12-02 13:22] tap commented on #63
I have no problem merging that.  Thanks @nwolek

[2015-12-02 14:34] #63 closed, assigned to nwolek

[2015-12-02 15:09] nwolek commented on #64
@tap - I have this finished in a local branch. Setting up as a pull request since the folder renaming with require you to run the CMake builds.

[2015-12-02 15:12] #64 closed, assigned to nwolek

[2015-12-02 17:02] nwolek commented on #56
Tests show pretty definitively that our algorithms for Hermite and Spline are not producing the same results as those from the similar named options for the Octave interp1 function. I will need to some more research on the source of these algorithms.

I found a few hits here: http://musicdsp.org/archive.php?classid=5

@tap did you have a common source for these interpolation algorithms initially?

[2015-12-02 17:48] tap commented on #56
If you export code from gen~ and then look at the exported code I think you
will find something comparable.

best,
  Tim

On Wed, Dec 2, 2015 at 11:02 AM, Nathan Wolek notifications@github.com
wrote:

[2015-12-04 16:25] tap commented on #50
@lossius : do we have a document somewhere that explains the order in which things happen in Jamoma1 w/r/t repetition filtering, dataspace conversion, range limiting, etc. and why?  Takk!

[2015-12-04 16:31] tap opened #66 "standardize directory naming / structure"
The standard for open source libraries is close to what we have now, but not quite there.  I propose something like the following:
- doc
- include
  - core
  - objects
  - third-party
- src
  - filtered-noise-example
- test

[2015-12-09 12:57] #66 closed, assigned to nobody

[2015-12-24 14:32] #61 closed, assigned to nwolek

[2015-12-24 17:10] nwolek commented on #56
Found examples for linear, cosine, cubic, spline and hermite in the gen~.interpolation example. Working to migrate into Octave.

[2015-12-24 18:54] tap commented on #61
great!

[2015-12-24 20:26] nwolek commented on #56
Some simple explanations and code examples for [interpolation methods here](http://paulbourke.net/miscellaneous/interpolation/).

Two observations from today's testing:
1) Our [cubic](https://github.com/jamoma/jamoma2/blob/master/include/core/JamomaInterpolate.h#L117) and [spline](https://github.com/jamoma/jamoma2/blob/master/include/core/JamomaInterpolate.h#L139) algorithms produce identical outp

[2015-12-24 22:46] tap commented on #56
Thanks for all your work on this Nathan!  It's great that we are applying this level of rigor to the stuff we bring over from Jamoma1.  In the process we are definitively improving things!

That's a great interpolation article too -- thanks for including it here!

[2015-12-25 04:59] nwolek commented on #56
Thanks Tim! I am glad you appreciate the work that went into this code review. I have merged it back into master now, and am calling this issue done. Feel free to re-open if you think I missed something.

[2015-12-25 04:59] #56 closed, assigned to nwolek

[2015-12-25 05:00] nwolek commented on #60
With work on issue #56 done, it's time to work on this.

[2015-12-26 21:37] nwolek commented on #60
These last three commits were super easy because of the tests in place. Good example of how testing benefits development.

Looking to @tap for guidance/input for other design work needed here. We still have separate Delay v DelayWithLinearInterpolation classes. I assume we would like one with the interpolation type as an option, right?

If so, we will need to reconcile the different number of samp

[2015-12-26 22:07] nwolek commented on #60
Reading some of Julius Smith on the topic. He mentions only linear and allpass methods while covering [Delay-Line Interpolation](https://ccrma.stanford.edu/~jos/pasp/Delay_Line_Interpolation.html).

Allpass would be another option that only requires 2 samples. I am going to create another issue to implement this.

[2015-12-26 22:13] nwolek opened #67 "Create allpass interpolation class"
Detailed [here](https://ccrma.stanford.edu/~jos/pasp/First_Order_Allpass_Interpolation.html). Foudn during research for issue #60.

To be implemented here:
https://github.com/jamoma/jamoma2/blob/master/include/core/JamomaInterpolate.h

Notes:
- Uses feedback, therefore the interpolation would need to maintain a one sample history.
- Efficiency is similar to linear interpolation.
- Best when fracti

[2015-12-27 14:39] tap commented on #67
This is interesting.  I'm trying to figure out where we don't have random access.  For example, a wavetable oscillator is a random-access situation, as is playing a soundfile.  Maybe not the majority of the time but certainly in some cases.

What happens if you have a fixed delay and change the delay time?  Is whatever happens "acceptable"?

Also interesting about this is that we could use an allp

[2015-12-27 14:49] tap commented on #60
Cubic interpolation is quite important.  A few familiar examples include the `tapout~` and `play~` objects in Max and `tabread4` in Pd.

If you listen to the output of the `wave~` object in Max and switch the `@interp` attribute you will hear a (in some cases tremendous) difference in sound quality.

[2015-12-28 03:23] nwolek commented on #60
Did not mean to suggest that we did not need interpolation! I was just pondering whether some types are better suited for delay-lines versus wavetables. And if that is the case, pouring effort into implementation of a variable type interpolation may not be the best allocation of efforts at the moment.

Guess we need to clarify what is necessary to close this issue.

[2015-12-28 13:09] nwolek commented on #32
Found these today:
http://stats.stackexchange.com/questions/7074/formal-statistical-test-for-whether-a-process-is-a-white-noise
https://en.wikipedia.org/wiki/Ljung%E2%80%93Box_test

Apparently this sort of test has importance in financial data.

[2015-12-28 13:35] nwolek commented on #67
Actually @tap, you already ported it:
https://github.com/jamoma/jamoma2/blob/master/include/objects/JamomaAllpass1.h

;)

[2015-12-28 13:48] tap commented on #67
The `Jamoma::Allpass1` class could work in terms of creating a proof-of-concept.  It would be much more efficient, however, to use a dedicated building-block with a fixed 1-sample delay.

In Jamoma1 that filter was called `Allpass1a` instead of `Allpass1`.  There's got to be a better way of naming these though.

[2015-12-28 14:10] tap commented on #60
"Discussion of delay accuracy with cubic interpolation":http://msp.ucsd.edu/techniques/v0.11/book-html/node114.html

"Linear and Allpass Interpolation @ McGill":http://www.music.mcgill.ca/~gary/618/week1/delayline.html

"PDF on Interpolation":http://home.deib.polimi.it/bestagini/_Slides/lesson_3.pdf -- might be able to step back from this and think not only of cubic interpolation on it's own, but

[2015-12-28 15:02] nwolek commented on #43
Trying to review this and clarify what I meant here. I was basically wishing that interpolation be part of the functionality built into `SampleBundle`, like it was in my re-design of [SampleMartix](https://github.com/jamoma/JamomaCore/blob/master/DSP/library/source/TTSampleMatrix.cpp#L180). Now that I am reviewing terminology, it seems the method would best sit at the SampleVector level to avoid c

[2015-12-28 15:41] tap commented on #43
I like the gist of this.  I wonder if one can overload the [] operator for floats.  If so, then it could be as easy as

[code]

Questions:
- I guess the default for this should be linear interpolation?
- What do we do at the ends?  In the case of a delay line / circular buffer we want to wrap, but that may or may not generally be the case?
- How does the allpass interpolation work here?

I don't k

[2015-12-28 16:11] nwolek commented on #43
I like this syntax _very_ much:

[code]

It seems very clear what is going on. Compare that to the way things are now:

[code]

We push the burden for figuring out a lot of things into the SampleVector class itself.

NOTE: one reason I suggested `value_at()` initially over square brackets is the C++ documentation states that `at()` checks bounds, while square brackets does not. If we intend to inc

[2015-12-28 17:39] nwolek opened #68 "Implement additional fill() options for SampleBundle"
Found in code for `Jamoma::Sample`:

[code]

Would seem to be a prerequisite to implementing a Wavetable object (issue #5).

Some of the recent discussion about interpolation may impact the way this is designed (issue #43). i.e. If we decide that interpolation should be outside the data container, does that mean the same thing for fill operations?

[2015-12-28 18:49] tap commented on #68
Good question.  Makes my head hurt a little.  I'm thinking I may have stepped into an old trap/habit of mine where I let "perfect" be the enemy of "good".  But this is incremental development: we can always do something and then change it if reality dictates...

So in both this case and the interpolation case, I would say that if there is motivation to pursue one direction or the other that we sho

[2015-12-28 18:51] tap commented on #68
That said, I'm attracted to the idea that we could fill a std::vector or a CircularBuffer or a SampleVector or a SampleBundle or std::array each with e.g. a cosine wave using the same algorithm.  YMMV

[2015-12-28 18:56] nwolek commented on #68
I am actually investigating this very thing by leveraging [std::generate](http://www.cplusplus.com/reference/algorithm/generate/). Whatever I do, I will keep in a branch for you to review and comment.

[2015-12-28 19:26] tap commented on #68
Perfect!

[2015-12-28 23:12] nwolek commented on #68
@tap - Please take a look at the work so far on branch `issue/68`. This is showing a lot of promise in my initial tests! A couple of questions I have for you:
-  I imagine our current [JamomaInterpolate](https://github.com/jamoma/jamoma2/blob/master/include/core/JamomaInterpolate.h) class provides a model for how to gather and structure this. If we collect these together into a separate file, do y

[2015-12-29 00:32] tap commented on #68
Working on the review right now.  Being a little picky.  Some of my questions might sound rhetorical but they are not.  For example, the struct vs class question.

I completely agree that we should not use "fill" terminology but instead "generate" terminology so that we are in alignment with the STL standard.

[2015-12-29 01:11] tap commented on #68
It ended-up being easier to express myself in code than in comments about code.  Hopefully I haven't over-stepped!

[2015-12-29 02:05] nwolek commented on #68
Nope. It looks like you pushed things forward in exactly the places I was stuck! Thanks!!!

Talk to you in the morning.

[2015-12-29 13:39] nwolek commented on #68
List of algorithms we had in Jamoma1's [SampleMatrix](https://github.com/jamoma/JamomaCore/blob/master/DSP/library/source/TTSampleMatrix.cpp#L254):
- [ ] triangleMod
- [x] triangle
- [ ] sawtoothMod
- [ ] sawtooth
- [ ] rampMod
- [x] ramp
- [ ] cosineMod
- [ ] cosine
- [ ] sineMod
- [x] sine

In this case, "Mod" really means [unipolar](http://www.encyclopedia.com/doc/1O11-unipolarsignal.html). I k

[2015-12-29 14:01] tap commented on #68
Another reference here are the fill/apply methods for the buffer~ object.  Specifically I'm thinking of the `sinc` function and also of only generating half of the wave.

Perhaps we should think of unipolar and generating half the wave as well as the frequency as attributes/parameters of the generators?

[2015-12-29 16:12] nwolek commented on #68
This work is migrating to [JamomaGenerator.h](https://github.com/jamoma/jamoma2/blob/issue/68/include/core/JamomaGenerator.h)

[2015-12-29 16:18] nwolek opened #69 "Complete name changes"
@tap and I agreed that the following name changes are needed for clarity and consistency:
- JamomaInterpolate becomes JamomaInterpolator
- JamomaLimits becomes JamomaLimit
- JamomaNotification becomes JamomaNotifier

Namespace within the file should follow the filename. Favor singular in filenames, even when multiple classes are defined within.

[2015-12-29 16:23] nwolek opened #70 "Add interpolating at() function to SampleBundle"
This higher level interface will wrap the JamomaInterpolator classes and allow for interpolation without being concerned with the number of samples needed. Discussion leading to this decision was initial explored in issue #43 and finalized during Skype between myself and @tap.

[2015-12-29 16:39] #43 closed, assigned to nobody

[2015-12-29 16:45] nwolek opened #71 "Overload interpolator operators"
Each type should be overloaded to accept four data points as inputs (regardless of wether all four are needed) to allow for easier switching between algorithms.

Related to issues #43 #60 #70

[2015-12-30 04:50] nwolek commented on #68
All shapes from SampleMatrix now implemented. Opening new issues for remaining shapes discussed with @tap.

[2015-12-30 04:50] #68 closed, assigned to nobody

[2015-12-30 04:54] nwolek opened #72 "Create sinc & half-sinc function generators"
Like that found in the Max buffer~ object.
https://en.wikipedia.org/wiki/Sinc_function
http://mathworld.wolfram.com/SincFunction.html

Continuation of work on issue #68

[2015-12-30 04:58] nwolek opened #73 "Create generator option for multiple cycles of function"
Like the feature found in Max buffer~ object.
Additional optional variables for each operator. Without them, you get one cycle.

Continuation of work on issue #68

[2015-12-30 14:31] nwolek opened #74 "Move denormal function back to JamomaLimit"
I have a feeling our anti-denormal function was [copied to here in Jamoma.h](https://github.com/jamoma/jamoma2/blob/master/include/Jamoma.h#L65) when we were trying to get things running quickly. In Jamoma1, it was [in the TTLimit.h](https://github.com/jamoma/JamomaCore/blob/master/Foundation/library/includes/TTLimits.h#L29).

Now that we have a [JamomaLimit.h](https://github.com/jamoma/jamoma2/bl

[2015-12-30 15:03] nwolek commented on #69
@tap - I am no longer confident about the Notifier renaming. Therefore, I am creating a separate ticket to discuss before making that change.

Heads up that the renaming of Interpolator means that you (and anyone else following along) will need to rebuild everything.

[2015-12-30 15:03] #69 closed, assigned to nwolek

[2015-12-30 15:09] nwolek opened #75 "Rename Notification and Message classes."
I found this note in the [comments here](https://github.com/jamoma/jamoma2/blob/master/include/core/JamomaEvent.h#L19):

[code]

If notification is a description of an `Event`, it is the thing being passed and not the actor. Therefore, it would make more sense to keep the term `Notification` in place.

Doing a bit of google searching revealed that almost no one refers to the class as `Notifier`. I

[2015-12-30 15:55] tap commented on #75
A **Notification** is an **event**, yes.  But the _emitter_ of the notification is not an event.  Thus the desire to call it the **Notifier**.

I believe in our conversation we got that part right.  It is also still consistent with my reading of the GoF Observer text.  What we need to review then is the naming of the others.

A **Message** is an **event**.  So the "port" or "socket" in our object

[2015-12-30 15:59] tap commented on #74
Makes sense to me.

[2015-12-30 17:24] #71 closed, assigned to nwolek

[2015-12-30 17:27] nwolek commented on #71
Got a new interpolation option out of this work: Nearest

Cleaned up the documentation and added even more tests. If something goes wrong here, we are going to know about!

[2015-12-31 22:26] nwolek commented on #67
Closed with this pull request
https://github.com/jamoma/jamoma2/pull/76

[2015-12-31 22:26] #67 closed, assigned to nwolek

[2015-12-31 23:00] tap opened #77 "MIDI Data Representation"
How should we represent MIDI data?

One thing is clear: we should represent it atomically (all bytes bundled together) rather than as a steam like the Max `midiin` object.

In Jamoma1 we use dictionaries.  It's a little hard to tell if this is too heavy-handed or it just feels that way because the dictionary implementation in JamomaGraph is so poor.

We could have a bunch of types for different MI

[2016-01-01 18:23] nwolek opened #78 "Explore potential redesign of interpolators"
Quoting from @tap during discussion of [this pull request](https://github.com/jamoma/jamoma2/pull/76):

I don't know if this is a great idea or a terrible one, but I'm imagining something where we pass C++ iterators as the arguments.  By doing this all functions would look something like this pseudo-code:

[code]

I'm not sure if this would solve all our ills or just create new ones, but it make s

[2016-01-03 21:17] nwolek commented on #70
Some conversation on [this pull request](https://github.com/jamoma/jamoma2/pull/79) of the work in progress.

[2016-01-04 00:39] nwolek commented on #70
Might want to split off the CircularStorage part of this into a separate issue. Solution will likely be different enough that we should track it separately.

[2016-01-12 02:48] nwolek opened #80 "Add interpolating tail() function to CircularStorage"
Breaking this off from Issue #70

This higher level interface will wrap the JamomaInterpolator classes and allow for interpolation without being concerned with the number of samples needed.

[2016-01-12 14:12] nwolek commented on #70
Closed with after merge on this pull request
https://github.com/jamoma/jamoma2/pull/79

[2016-01-12 14:12] #70 closed, assigned to nwolek

[2016-01-12 14:16] nwolek commented on #80
This should likely be handled before issue #60

[2016-01-12 15:43] nwolek commented on #5
After reading about the topic some more, I think this object should be called "waveform" instead of "wavetable". Generator names should describe what they produce, not the technique used to generate them. The job of documenting the technique should be handled by the Doxygen description, not the name.

Would you agree @tap @lossius ?

[2016-01-12 18:26] tap commented on #5
How do we handle naming of additional different (non-wavetable) waveform generators?

[2016-01-12 18:43] nwolek commented on #5
Would PeriodicWaveform be more specific?

My current thinking:
- PeriodicWaveform would have an internal `mSync` so that it is controlled by `mFrequency` and `mPhase` parameters. You could also select from common basic shapes like sine, cosine, sawtooth, triangle, etc. that are available in [JamomaGenerator.h](https://github.com/jamoma/jamoma2/blob/master/include/core/JamomaGenerator.h)
- Wavetabl

[2016-01-14 12:29] tap commented on #5
I'm kind of just waving my hands about the naming thing.  On a certain level I guess I don't care what it is called and Wavetable makes it obvious to me what it is.  It could also be Oscillator.

Max's `cycle~` has 3 modes:
1. freq and phase are constants
2. freq is a signal, phase is a constant
3. freq is a constant, phase is a signal

I don't have a clear vision on whether it should all be one c

[2016-01-14 23:28] nwolek commented on #5
I edited in numbers to your list for easier reference. Hope that is OK.

I guess what I have started working toward is item 1. I see item 3 as clearly a `Wavetable`, which is similar in function to the `wave~` object. But item 1 & 2 I am more likely to call an `Oscillator` (which admittedly is less typing than `PeriodicWaveform`).

I am inclined to build them separately, then see if we can merge t

[2016-01-19 22:51] tap commented on #75
The term "socket" is a bit too overloaded a CS term.  The term "port" is a little bit overloaded, but not so bad.  Maybe the term "jack" would be better than both of them?

[2016-01-24 02:03] nwolek commented on #44
Since this is the only place where **padding** is mentioned: Just want to add a note that I am working up a padding function for the `SampleBundle` in response to discussion w @tap about the `tableSize` on [pull 81](https://github.com/jamoma/jamoma2/pull/81) as part of issue #5. It is not zero-padding though. Instead it copies samples from the end to the beginning and from the beginning to the end

[2016-01-26 14:35] nwolek opened #82 "Add padding functions to SampleBundle"
I have already begun work on this. Creating a new issue for tracking and so that I can cleanly turn this into a separate pull request. These functions would help resolve some of the specific concerns that are related to interpolation in a periodic wavetable (raised as part of issue #5 and pull https://github.com/jamoma/jamoma2/pull/81).

By adding samples as padding to the beginning and ended of t

[2016-01-26 22:40] nwolek commented on #82
Closed pending code review on pull #83 by @tap

[2016-01-26 22:40] #82 closed, assigned to nwolek

[2016-01-27 03:34] nwolek commented on #5
Progress report on issue #5:
- The new padding functions (issue #82) resolve the tableSize concern.
- I now think that `Sync` members `gain` and `offset` should transition to be expressed as minimum and maximum. This would reduce confusion.
- Need to implement waveshape options.
- Need to implement interpolation options.

[2016-02-10 13:39] tap opened #84 "Read-Only Parameter Implementation"
We have a need for Parameters that are Read-Only.  For example, if we have some object that is doing mem allocation (lookahead buffer in the limiter, padding adjustment on a buffer, etc.) it should be fixed at the time that the object is instantiated.

These Parameters need to be settable in the ctor, e.g. by passing in N pairs of _name_ and _value_.  After that they should only be gettable.

We w

[2016-02-10 14:35] tap opened #85 "Interpolation Testing and Analysis"
At some point we were using code exported from gen~ as a reference in the interpolation implementation.  There was a bug in that code (now fixed) and referenced with a really good report @ http://www.tonmeister.ca/wordpress/2016/01/26/max-gen-delay-analysis/

Also of note is this discussion (toward the bottom) regarding feedback handling.  I'm not sure if this is relevant directly at the DSP level

[2016-02-10 21:46] tap commented on #77
Another approach is to not represent "MIDI" data at all.  Instead we have our own "note" data format and MIDI gets converted into (or out of) it.  This abstracts the thing we are trying to represent from the transport.

[2016-02-23 14:49] nwolek opened #86 "Eliminate steps in applySamplePadding()"
Detailed discussion in pull #83

[2016-02-23 15:11] nwolek commented on #86
Function can be found here: https://github.com/jamoma/jamoma2/blob/master/include/core/JamomaSample.h#L262

Lines 273-291 are the ones that we would like to improve / consolidate.

Test for this function can be found here: https://github.com/jamoma/jamoma2/blob/master/test/SampleBundle/SampleBundle.cpp#L215

[2016-02-24 13:58] nwolek commented on #5
@tap I need your help on these two things. I made 2 or 3 attempts to implement yesterday, but was not happy with the results each time.
- Need to implement waveshape options.
- Need to implement interpolation options.

Maybe you could email me to set up a time early next week?

[2016-02-25 16:24] tap commented on #86
specifically, this comment:

[2016-02-29 15:59] tap opened #87 "SampleBundle: iterators are not padding aware / safe"
how do we design an interface that takes that into account?  Or, is it just a documentation problem?

are any of the functions in this class padding aware?

uh oh?

[2016-02-29 16:00] tap opened #88 "SampleBundle: need operators to write a sample and copy to the padding if needed"

[2016-02-29 16:08] tap commented on #87
This will likely be helped or addressed by #89

[2016-02-29 16:09] nwolek opened #89 "Create new SampleBuffer class"
This should be a subclass of SampleBundle. Features that are more appropriate will move here such as:
- interpolation
- padding
- generate

[2016-02-29 16:20] nwolek commented on #89
Although our initial design in Florida was motivated by the desire to serve both roles of vectors and buffers, this will potentially add a lot of overhead when SampleBundles are used to pass signals. Therefore, it makes sense at this time to parse these two roles from each other, but maintain a link via subclassing. This realization was made during a Skype between myself and @tap today.

[2016-04-19 13:56] nwolek commented on #5
On hold pending progress on Issue #89

[2016-04-19 14:27] nwolek commented on #89
After my initial review of the code in JamomaSample.h, these functions will be moved from SampleBundle to SampleBuffer in the subclassing process:
- paddingSize
- at
- generate
- applySamplePadding
- applyZeroPadding

[2016-07-11 13:42] lossius opened #90 "Error when creating Xcode projects"
I just attempted to create Xcode projects for Jamoma2 using cmake as described in ReadMe, but got errors. I have pasted all messages posted to the Terminal here:

https://gist.github.com/lossius/6e3c71306ba2d36547187eb8373da367

[2016-07-11 13:45] lossius commented on #90
Building on the command line gives similar errors.

[2016-07-11 20:03] lossius commented on #90
Figured out, I didn't read the ReadMe properly, and I did not have portaudio and portmidi installed using Homebrew. After having installed them I'm able to generate Xcode projects. Closing this issue.

[2016-07-11 20:03] #90 closed, assigned to nobody

[2016-07-11 20:10] lossius commented on #32
Yes, but I don't think those tests have much relevance to us. In statistics and numerical computation science new methods (functions) might be developed that are assumed to produce white noise. These new functions need to be verified for whether they actually do produce white noise.

However, in an implementation, when a well-known, researched and documented numerical method is used, the question

[2016-07-11 20:37] lossius opened #91 "Exclude third-party from Doxyfile?"
Currently when rendering documentation using Doxygen.app, it includes documentation for all 3rd party libraries as well. Do we want this, or should we exclude them from Doxygen documentation?

I don't know if this would affect (negatively) documentation hints in the Xcode IDE as well, or if it only matters when generating HTML documentation.

[2016-07-13 15:39] lossius opened #92 "Port angle dataspace"

[2016-07-13 15:40] lossius opened #93 "Port color dataspace"

[2016-07-13 15:40] lossius opened #94 "Port distance dataspace"

[2016-07-13 15:40] lossius opened #95 "Port orientation dataspace"

[2016-07-13 15:41] lossius opened #96 "Port position dataspace"

[2016-07-13 15:41] lossius opened #97 "Port speed dataspace"

[2016-07-13 15:41] lossius opened #98 "Port temperature dataspace"

[2016-07-13 15:47] lossius commented on #50
This has never been written up, but could well make for a paper for a conference next year if we feel like it.

Still, based on what I see in the dataspace implementation for Jamoma2, it might be different there. If we always provide the unit, we might be able to escape a number of difficulties that I had to resolve for Jamoma 1. We can lookinto this a little further down the road.

[2016-07-13 17:07] nwolek commented on #91
I remember setting this up for the original API in this file:
https://github.com/jamoma/Jamoma/blob/master/Doxygen/Jamoma_doxyfile.txt

I will need to review and find the setting.

[2016-07-13 19:33] lossius opened #99 "The compare() method using in unit tests is not particularly useful"
Are we able to come up with a better way of comparing `float32` and `double` than the `compare()` method? Below is a screenshot from one unit tests that fails because it seems unable to properly handle minor differences in values (due to numerical truncations and errors):

<img width="878" alt="screen shot 2016-07-13 at 21 26 59" src="https://cloud.githubusercontent.com/assets/38478/16816962/c1c65

[2016-07-19 16:48] lossius commented on #96
Hi @tap ,

I've now started implementing the position dataspace on the feature/96-position-dataspace branch. I've only added two units so far, but it's enough to reveal the stuff that we need to get ironed out before continuing.
- Cartesian3D dataspace has 3 dimensions: xyz
- Cartesian2D dataspace has 2 dimensions: xy (as z is always 0)

This implies that:
- a conversion from cart2D needs 2 values

[2016-07-20 18:45] lossius commented on #99
The conclusion of a skype session yesterday was to move to [Catch](https://github.com/philsquared/Catch). Initial work on this has started at the feature/dataspace branch.

Closing this issue, it will be replaced by more specific issues to port existing unit tests to Catch.

[2016-07-20 18:45] #99 closed, assigned to nobody

[2016-07-20 18:46] #98 closed, assigned to lossius

[2016-07-20 18:46] #97 closed, assigned to lossius

[2016-07-20 18:46] #94 closed, assigned to lossius

[2016-07-20 18:46] #92 closed, assigned to lossius

[2016-07-21 12:01] #42 closed, assigned to nobody

[2016-07-22 08:55] lossius commented on #34
The Time dataspace is now reviewed by implementing unit tests ( 7aceaf5 ). What's left is this:

If that is still relevant, I believe it is better to make a separate issue for that so that this issue can be closed. I'm assigning back to you @tap , and consider myself done here.

[2016-07-22 09:09] lossius opened #101 "TimeDataspace : get sample rate from system in sample unit"
The sample unit is currently hard-coded to use a sample rate of 96 kHz. Instead it need to retrieve samplerate from the system. This issue relates to #45 as well as #34 .

[2016-09-26 13:00] tap commented on #96
@lossius -- I don't see this branch.  Is it pushed to Github?

[2016-11-30 16:55] tap commented on #96
Hi @lossius -- please take a look at the above commit and tell me what you think...

[2016-12-01 18:29] lossius commented on #96
Thanks, will check out tomorrow.

[2016-12-13 10:50] lossius commented on #96
Thanks @tap this works. Brilliant! I'll see if I can finish of the dataspace by the end of the year then.

[2016-12-13 10:52] lossius commented on #101
And I guess we need some sort of notification system when system sample rate changes.

[2016-12-14 13:33] lossius opened #102 "Position dataspace"
Default native input dataspace is not currently `xyz` but rather the unit of the converting dataspace itself. An example of this can be seen in the unit tests for the `xy` unit in the unit test file for dataspace, ref the comment to the following commit:

https://github.com/jamoma/jamoma2/commit/ac213b245a12c94b278cdd851efb2938c52ebecb#diff-ee46233e2dc88223159605b023fb37e5

[2016-12-14 14:25] lossius commented on #96
Closing this issue, one new issue showed up in the process, and is logged as #102 .

It remains to make an example of position dataspace conversions that illustrates how to vary the length of the returned vector based on what unit is used. The dataspace unit tests doesn't illustrate this.

[2016-12-14 14:25] #96 closed, assigned to lossius